<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Memory Game</title>
	</head>
	<body>
		<div class="register-player" id="register">
			<div class="info-box">
				<div class="form-group">
					<input
						type="text"
						class="form-input"
						id="name"
						placeholder="Your name"
						required
					/>
					<button class="btn draw-border" id="start-btn">Join</button>
				</div>
			</div>
			<div id="players-box">
				<h3>Players currently online:</h3>
				<br />
				<table id="players-table"></table>
			</div>
			<div id="current-player"></div>
			<button class="btn draw-border" id="start-game">Start game</button>
		</div>
		<section class="memory-game">
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>

			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
			<div class="memory-card">
				<img class="front-face" />
				<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
			</div>
		</section>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/index.js"></script>
		<script>
			let currentPlayer;
			document.getElementById("start-btn").addEventListener("click", () => {
				const name = document.getElementById("name").value;
				document.getElementById("name").disabled = true;
				document.getElementById("start-btn").hidden = true;
				document.getElementById(
					"players-table"
				).innerHTML += `<tr><td>${name}</td></tr>`;
				currentPlayer = name;
				socket.emit("join", currentPlayer);
			});
			document.getElementById("start-game").addEventListener("click", () => {
				document.getElementById("start-game").hidden = true;
				socket.emit("start game", []);
			});
		</script>
	</body>
</html>
