<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<title>Memory Game</title>
	</head>
	<body>
		<section class="container">
			<div class="register-player" id="register">
				<div class="form-group">
					<input
						type="text"
						class="form-input"
						id="name"
						placeholder="Your name"
						required
					/>
					<button class="btn" id="start-btn">Join</button>
				</div>
				<div class="current-player-info">
					<h3 class="current-player" id="current-player" hidden="true">
						Current player:
					</h3>
					<p class="current-player-name" id="current-player-name" hidden="true"></p>
				</div>
				<br />
				<div id="players-box">
					<h3>Players online:</h3>
					<br />
					<table id="players-table"></table>
				</div>
				<button class="btn" id="start-game">Start game</button>
			</div>
			<section class="memory-game">
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>

				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
				<div class="memory-card">
					<img class="front-face" />
					<img class="back-face" src="/img/olympics.svg" alt="Olympics" />
				</div>
			</section>
		</section>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/index.js"></script>
		<script></script>
	</body>
</html>
