* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background: #F4D1AE;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  border-radius: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #F6D9BC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.register-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-player h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;

  &:active {
    border: 1px solid darkgray !important;
    outline: none;
  }

  &:focus {
    border: 1px solid darkgray !important;
    outline: none;
  }
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #e4dcdc;
  }
}

.player-info {
  display: flex;
  gap: 0.5rem;
}

.player-info .player-points {
  color: blue;
}

.player-info .player-name {
  font-weight: bold;
}

.current-player-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.current-player-info p {
  font-size: 1.5rem;
  font-weight: 500;
}

.winner {
  font-size: 2rem;
  color: green;
  font-weight: bold;
}